h1{
    background-color: black;
    color: white;
}
#cloud{
    color: aqua;
}
h2{
    text-align: center;
    background-color: rebeccapurple;
    color: white;
}
h3{
    background-color: aqua;
    text-decoration: underline;
    text-align: right;
}